* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(0, 0%, 0%);
    color: white;
    width: 100%;
}

header {
    display: flex;
}

header h3 {
    margin: 15px;
    color: #dc5b51;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 50px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    background-color: #121212;
}

.my-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile:hover .my-icon:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    border: none;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

h1 {
    margin: 5px 5px 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#sobrenome {
    color: #dc5b51;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #181818;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5% 5% 1.8% 5%;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 280px;
    background-color: #2e2929;
    border-radius: 25px;
    /* border: solid 1px #494242; */
    cursor: pointer;
    transition: all 0.4s;
}

.title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.title-card h3 {
    text-decoration: none;
    color: #dc5b51;
    font-size: x-large;
}

.title-card h3:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;

}

#login-icon {
    width: 30%;
    height: 65%;
    animation: icons-move 2s infinite;
}

#mario-icon {
    width: 30%;
    height: 60%;
    animation: icons-move 2s infinite;
    animation-delay: 0.3s;
}

#invaders-icon {
    width: 30%;
    height: 60%;
    animation: icons-move 2s infinite;
    animation-delay: 0.5s;
}

.p-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #181818;
    display: flex;
    width: 90%;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    text-decoration: none;
}

@keyframes icons-move {
    0% {
        margin-bottom: 15px;
    }
        
    100% {
        margin-bottom: 0;
    }
}

.p-card p {
    color: #616060b7;
    width: 100%;
    margin: 0 5px;
}

.container:hover .card {
    transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;  
}

.container:hover .card:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    box-shadow: 0px 4px 4px #dc5b51;
    border: none;
}

.show-more {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.show-more:hover {
    color: #dc5b51;
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.skill-container {
    width: 80%;
    margin-bottom: 8%;
    overflow: hidden;
  }

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px
}

.carousel {
    display: flex;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
}
  
.carousel img {
    border-radius: 25px;
    margin: 50px;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6); */
    width: 90%;
    height: 150px;
}

.carousel img:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

.down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.download {
    margin: 3% 3% 2% 3%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculo {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
}

button {
    border: none;
    background-color: #dc5b51;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

button:hover {
    background-color: #e8756d;
}

.redes {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes img {
    width: 40px;
    height: 40px;
    margin: 15px 15px 15px 15px;
}

#git {
    background-color: white;
    border-radius: 59%;
    padding: 0.5%;
}

.redes img:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    
}
